.group-input {
  border-radius: 0;
}

.group-descrip {
  border-radius: 0;
  margin-bottom: 20px;
}

.create-group-page-container {
  display: flex;
  justify-content: center;
  height: 500px;
}

.create-group-content-container {
  margin-top: 100px;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group-header {
  font-size: 25px;
  margin-bottom: 20px;
}
