.group-input {
  border-radius: 0;
}

.group-descrip {
  border-radius: 0;
  margin-bottom: 20px;
}

.create-group-parent-container {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-group-page-container {
  z-index: 5;
  display: flex;
  justify-content: center;
  height: 450px;
  opacity: 100%;
}

.create-group-content-container {
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 100%;
}

.cancel-button-padding {
  margin-top: 20px;
}

.group-header {
  font-size: 25px;
  margin-bottom: 20px;
}

.form-control {
  resize: none;
}
