  .update-button {
    position: absolute;
    bottom: 10%;
    left: 45%;
  }

  .delete-button {
    position: absolute;
    bottom: 10%;
    left: 60%
  }

  .cancel-button {
    position: absolute;
    bottom: 10%;
    left: 33%;
  }
  
  .header {
    font-size: 25px;
    padding: 10px;
  }
