.group-box {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #bababa;
  height: 60px;
  width: 60px;
  text-decoration: none;
}

.group-title {
  font-weight: bold;
}

.add-group-button {
  border-radius: 10px;
  border-width: 0px;
}
