.rounded-pill {
  margin-left: 10px;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-search-container {
  width: 800px;
  margin-top: 50px;
}

.spinner-border {
  margin-top: 50px;
}
