.wrapper {
  display: flex;
  position: relative;
  background-color: #fafafa;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  flex-direction: column;
}

.line {
  width: 95px;
  padding-top: 6px;
  border-bottom: 1px solid #bababa;
}

.group-container {
  flex-direction: column;
  padding-top: 20px;
  padding-left: 16px;
}

.group-box {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #dedede;
  height: 60px;
  width: 60px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  text-decoration: none;
}

.group-title {
  font-weight: bold;
}

.wrapper .sidebar {
  width: 100px;
  height: 100%;
  background: #fafafa;
  padding: 10px 3px;
  position: fixed;
}
