.timeline-wrapper {
  background-color: #bababa;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  flex-direction: column;
  display: flex;
  min-height: 100%;
  height: 100%;
  overflow: scroll;
}
