.timeline-wrapper {
  background-color: white;
  flex-direction: column;
  min-height: 100%;
  overflow: scroll;
}

.item-group {
  border-radius: 10px;
}

.shadow-realm {
  box-shadow: 0 15px 40px rgba(195, 198, 212, 0.05),
    0 15px 40px rgba(195, 198, 209, 0.2);
}
