.user-page-container {
  width: 900px;
}

.user-page {
  display: flex;
  width: 100%;
}

.leave-group-button {
  border-radius: 15px;
  border-radius: 10px;
  border-width: 0px;
}
.leave-group-button:hover {
  background-color: #f7b7bb;
}

.leave-group-text {
  text-decoration: none;
  color: #878787;
}
.leave-group-text:hover {
  color: #e04555;
}

.edit-user-description-btn {
}
