.user-page-container {
  width: 960px;
}

.user-page {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
}

.user-page-content-container {
  margin-top: 50px;
}

.leave-group-button {
  border-radius: 10px;
  border-width: 0px;
}
.leave-group-button:hover {
  background-color: #f7b7bb;
}

.leave-group-text {
  text-decoration: none;
  color: #878787;
}
.leave-group-text:hover {
  color: #e04555;
}

.edit-user-description-container {
  display: flex;
  flex-direction: column;
}

.edit-user-description-btn-container {
  display: flex;
  margin-top: 10px;
}

.edit-user-description-text {
  text-decoration: none;
  color: #878787;
}
.edit-user-description-text:hover {
  color: #0e6dfd;
}

.edit-user-description-btn {
  border-radius: 10px;
  border-width: 0px;
  margin-right: 10px;
}
.edit-user-description-btn:hover {
  color: #b1caff;
  background-color: #b1caff;
}

.group-link {
  text-decoration: none;
}

.group-link:hover {
  text-decoration: underline;
}
